html, body, #app,.el-container{
    height: 100%;
 }
 *{
     margin: 0;
     padding: 0; 
 }
 .el-main{
     display: flex!important;
     flex-direction: column;
 }
 .main-view{
     flex: 1;
 }
 .main-view>div{
     height: 100%;
 }